<html>
    <header>
        <title>London Towers</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            #map {
                height: 700px;
            }
        </style>
    </header>
    
    <body>
        <h1>London Towers</h1>
        <form action="." method="GET">
            <label>Bounding box coordinates: </label><input type="text" name="bounding-box">
            <label>Network type: </label>
            <select name="network-type">
                <option value=""> ----- </option>
                <option value="2g">2G</option>
                <option value="3g">3G</option>
                <option value="lte">4G/LTE</option>
            </select>
            <label>Phone type: </label>
            <select name="phone-type">
                <option value=""> ----- </option>
                <option value="CDMA">CDMA</option>
                <option value="GSM">GSM</option>
            </select>
            <button type="submit">Search</button>
            <label id="message"></label>
        </form>
        
        <h2>"The" map:</h2>
        <div id="map"></div>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-IHJNL3Kv6AlFzAHHLYnxvWvqefv5VZ8&callback=initMap" async defer></script>
        <script>
            var map;
            var marker;
            var markersArray = [];
            function initMap() {
              map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 51.5287718, lng: -0.2416801},
                zoom: 11
              });
            }
            function clearOverlays() {
                for (var i = 0; i < markersArray.length; i++ ) {
                  markersArray[i].setMap(null);
                }
                markersArray.length = 0;
            }
            function search() {
                var boundingBox = $("form [name=bounding-box]").val();
    	        var networkType = $("form [name=network-type]").val();
    	        var phoneType = $("form [name=phone-type]").val();
    	        var data = {
					'bouding_box': boundingBox,
					'network_type': networkType,
					'phone_type': phoneType
    	        };
    	        $("#message").html("Thinking...");
    	        $.get("{% url 'search' %}", data, function(results) {
    	            markers = [];
    	            clearOverlays();
    	            var bounds = new google.maps.LatLngBounds();
	            	for (var i = 0; i < results.length; i++) {
        	            var myLatlng = new google.maps.LatLng(results[i][0], results[i][1]);
        	            bounds.extend(myLatlng);
        	            var content = '<div id="content">'+
        	            '<div id="siteNotice">'+
        	            '</div>'+
        	            '<h1 id="firstHeading" class="firstHeading">' + results[i][3] + '</h1>'+
        	            '<div id="bodyContent">'+
        	            '<ul>' +
        	            '<li><b>Canonical network id: </b> ' + results[i][4] + '</li>' +
        	            '<li><b>2G Enabled: </b> ' + results[i][6] + '</li>' +
        	            '<li><b>2G Enabled: </b> ' + results[i][6] + '</li>' +
        	            '<li><b>3G Enabled: </b> ' + results[i][7] + '</li>' +
        	            '<li><b>4G/LTE Enabled: </b> ' + results[i][8] + '</li>' +
        	            '</ul>' +
        	            '</div>'+
        	            '</div>';
        	            var infowindow = new google.maps.InfoWindow({
        	                content: content
						});
        	            marker = new google.maps.Marker({
        	                position: new google.maps.LatLng(results[i][0], results[i][1]),
        	                map: map
						});

        	            google.maps.event.addListener(marker, 'click', (function(marker, i) {
        	            	return function() {
								infowindow.setContent(content);
        	                  	infowindow.open(map, marker);
        	                }
						})(marker, i));
        	            map.fitBounds(bounds);
        	            markersArray.push(marker);
	            	}
	            	$("#message").html("");
    	        }, "json");
            }
        	$(document).ready(function() {
        	    $("form").submit(function(event) {
        	        event.preventDefault();
        	        search()
        	    });
        	});
        </script>
    </body>
</html>